#Applicaction
APP_NAME=mtas
APP_PORT=6070
APP_ENV=development

#Database
DB_NAME=databasename
DB_USER=username
DB_PASSWORD=password
DB_PORT=6071
DB_HOST=localhost
DB_SSLMODE=disable

#Full DSN
DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}

#Redis
REDIS_URL=redis://localhost:6072
REDIS_PASSWORD=password
REDIS_DB=0

#JWT
JWT_SECRET=secret
JWT_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d

#TTL
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d
